.activeStoryContainer{
    margin-left:20px;
    margin-right:20px;
    border: 1px solid gray;
    height: 400px;
    max-width: 390px;

}

.votes{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-gap: 1.4em;
    padding: 40px 10px;
   
}

.votes > div{
    border: 1px solid lightgray;
    padding: 1em;
    text-align: center;
}

.points{
    cursor:pointer;
}

.points:hover{
    border-color:#50ebeb;
}

