table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
}

table{
    border-collapse: collapse;
    width: 380px;
    min-height: 400px;
    margin-left:10px;
    margin-right:10px;
}
  
th, td {
    padding: 8px;
}
thead >tr>td{
    background-color:#c9c4c4;
}
  
tr:nth-child(odd) {background-color: #f3f2f2;}